div#board {
  border: 2px solid black;
	height: 204px;
	width: 104px;
  box-sizing: border-box;
}

div#board > div {
  width: 10px;
  height: 10px;
  box-sizing: inherit;
  float: left;
  margin: 0px;
}

div[data-color='a'] {
  background-color: aqua;
}

div[data-color='y'] {
  background-color: yellow;
}

div[data-color='o'] {
  background-color: orange;
}

div[data-color='g'] {
  background-color: green;
}

div[data-color='b'] {
  background-color: blue;
}

div[data-color='r'] {
  background-color: red;
}

div[data-color='p'] {
  background-color: purple;
}